
keys/
.env
*.json
!dbt_shocktrace/dbt_project.yml
!dbt_shocktrace/packages.yml

# ── Python ──
__pycache__/
*.pyc
*.pyo
.venv/
venv/
*.egg-info/

# ── Airflow ──
logs/
airflow.db
airflow.cfg
webserver_config.py

# ── dbt ──
dbt_shocktrace/target/
dbt_shocktrace/dbt_packages/
dbt_shocktrace/logs/
dbt_shocktrace/profiles.yml
# ── OS files ──
.DS_Store
Thumbs.db
desktop.ini

# ── IDE ──
.vscode/
.idea/
*.swp
*.swo

# ── Docker ──
*.log

